@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.june-25 {
    bottom: 5rem;
    right: 9rem;
}
@media (min-width: 992px) {
    .alto-100 {
        height: 100vh;
    }
}
